[Unit]
Description=Beam of Time clock service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /home/pi/beamOfTime/bot/app.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
