<!DOCTYPE html>
<!--
	Create a SPA Vuejs Application Without Node, WebPack, or Any Other Build Process using Vue, Router, Vuetify, and Axios. 
	https://medium.com/@steveolensky/create-a-spa-vuejs-application-without-node-webpack-or-any-other-build-process-using-vue-router-b9bf8e36e958 
-->
<html>

<head>
	<meta charset="utf-8"/>

	<!--isRaspi-->
	<link href="./css/roboto-fonts.css,materialdesignicons.min.css,vuetify-v2.1.9.css,index.css" rel="stylesheet">
	<!--!isRaspi-->

	<!--isDev <link href="./css/roboto-fonts.css" rel="stylesheet"> /isDev-->
	<!--isDev <link href="./css/materialdesignicons.min.css" rel="stylesheet"> /isDev-->
	<!--isDev <link href="./css/vuetify-v2.1.9.css" rel="stylesheet"> /isDev-->
	<!--isDev <link href="./css/index.css" rel="stylesheet"> /isDev-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>

<body style="background: #424242; max-width:400px; margin-left: auto; margin-right: auto;">
	<div id="app">
		<v-app>
			<v-app-bar app color='#00685d' style="max-width:400px; margin-left: auto; margin-right: auto;">
				<v-toolbar-title><v-btn text @click="model.ui.bottomNav= 'bot_home'">{{$t('main.app_title')}}</v-btn> 
					<i v-if="model.ui.bottomNav== 'bot_intro'" style="color:grey">{{$t('intro.title')}}</i>
					<i v-if="model.ui.bottomNav== 'bot_home'" style="color:grey">{{$t('home.title')}}</i>
					<i v-if="model.ui.bottomNav== 'bot_themes'" style="color:grey">{{$t('themes.title')}}</i>
					<i v-if="model.ui.bottomNav== 'bot_timers'" style="color:grey">{{$t('timers.title')}}</i>
					<i v-if="model.ui.bottomNav== 'bot_config'" style="color:grey">{{$t('config.title')}}</i>
				</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn text @click="model.ui.bottomNav= 'bot_home'">
					<v-img src="./files/bot-logo-small.png" />
				</v-btn>
			</v-app-bar>
			<v-container style="max-width: 400px; display: block; margin-left: auto; margin-right: auto;" mt-10 mb-12>
				<bot_home v-if="model.ui.bottomNav=='bot_home'" :cfg.sync="model.cfg" :ui.sync="model.ui"></bot_home>
				<bot_themes v-if="model.ui.bottomNav=='bot_themes'" :cfg.sync="model.cfg" :ui.sync="model.ui"></bot_themes>
				<bot_timers v-if="model.ui.bottomNav=='bot_timers'" :cfg.sync="model.cfg"></bot_timers>
				<bot_config v-if="model.ui.bottomNav=='bot_config'" :cfg.sync="model.cfg" :wifi.sync="model.wifi" :version="model.version" :info="model.info" :datetime="model.datetime"></bot_config>
				<v-img v-if="model.ui.bottomNav=='bot_intro'" src="./files/bot-intro.png" style="width: 320px; display: block; margin-left: auto; margin-right: auto; top:100px;" />
			</v-container>
			<v-snackbar :color="model.ui.snackbar_color" v-model="model.ui.snackbar" :timeout="3000">
      			{{ model.ui.snackbar_text }}
			</v-snackbar>
			<v-footer app color='#00685d' style="max-width:400px; margin-left: auto; margin-right: auto;">
				<v-bottom-navigation v-model="model.ui.bottomNav">
					<v-btn value="bot_home">
						<span>{{$t('home.title')}}</span>
						<v-icon>mdi-home</v-icon>
					</v-btn>

					<v-btn value="bot_themes">
						<span>{{$t('themes.title')}}</span>
						<v-icon>mdi-format-paint</v-icon>
					</v-btn>

					<v-btn value="bot_timers">
						<span>{{$t('timers.title')}}</span>
						<v-icon>mdi-timetable</v-icon>
					</v-btn>

					<v-btn value="bot_config">
						<span>{{$t('config.title')}}</span>
						<v-badge>
							<template v-if="model.version.update_available" v-slot:badge><v-icon>mdi-check</v-icon></template>
							<v-icon>mdi-settings</v-icon>
						</v-badge>
					</v-btn>

				</v-bottom-navigation>
				<v-spacer></v-spacer>
				<v-container class="caption font-weight-light text-center">&copy; {{ new Date().getFullYear() }}
					Gottfried Koschel</v-container>
			</v-footer>
		</v-app>
	</div>

	<!--isRaspi-->
	<script src="./js/jquery-v3.4.1.min.js,vue-v2.6.10.min.js,vuetify-v2.1.9.min.js,i18next.min-v8.0.0.js,vue-i18next-v0.15.1.js,i18nextXHRBackend.min.js"></script>
	<!--!isRaspi-->

	<!--isDev <script src="./js/jquery-v3.4.1.min.js"></script> /isDev--> <!-- https://github.com/jquery/jquery/releases -->
	<!--isDev <script src="./js/vue-v2.6.10.min.js"></script> /isDev--> <!-- https://github.com/vuejs/vue/releases -->
	<!--isDev <script src="./js/vuetify-v2.1.9.min.js"></script> /isDev--> <!-- https://github.com/vuetifyjs/vuetify/releases -->
	<!--isDev <script src="./js/i18next.min-v8.0.0.js"></script> /isDev--> <!-- https://unpkg.com/browse/i18next@8.0.0/ -->
	<!--isDev <script src="./js/vue-i18next-v0.15.1.js"></script> /isDev--> <!-- https://unpkg.com/browse/@panter/vue-i18next@0.15.1/dist/ -->
	<!--isDev <script src="./js/i18nextXHRBackend.min.js"></script> /isDev--> <!-- https://github.com/i18next/i18next-xhr-backend -->

	<!-- Vue Pages and Components here -->
	<!--isRaspi-->
	<script src='./pages/bot_home.vue.js,bot_themes.vue.js,bot_timers.vue.js,bot_config.vue.js,?_=[version]'></script>
	<!--!isRaspi-->
	
	<!--isDev <script src='./pages/bot_home.vue.js?_=[version]'></script> /isDev-->
	<!--isDev <script src='./pages/bot_themes.vue.js?_=[version]'></script> /isDev-->
	<!--isDev <script src='./pages/bot_timers.vue.js?_=[version]'></script> /isDev-->
	<!--isDev <script src='./pages/bot_config.vue.js?_=[version]'></script> /isDev-->

	<script src="./js/main.js?_=[version]"></script>

</body>

</html>